body {
  margin: 0;
  padding: 0;
  font: 400 14px/24px "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  font: 500 16px/18px "Roboto", "Arial", sans-serif;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.button-buy-2 {
  color: #ffffff;
  background-color: #00ca74;
}

.button-buy-3 {
  color: #ffffff;
  background-color: #efc849;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: #e06366;
}

.button-buy-2:hover,
.button-buy-2:focus {
  background-color: #00bc6c;
}

.button-buy-2:active {
  background-color: #00aa62;
  color: #4dc491;
}

.button-buy-3:hover,
.button-buy-3:focus {
  background-color: #eab534;
}

.button-buy-3:active {
  background-color: #e5a722;
  color: #edc265;
}

.main-header {
  background-color: #eeeeee;
}

.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation-list,
.basket-link,
.advantages-list,
.accuracy-list,
.partner-logo-list,
.social-buttons,
.filter-options-list,
.catalog-list,
.pagination-list,
.development-list {
  list-style: none;
}

.main-navigation .current {
  border-bottom: 2px solid #fb565a;
}

.site-navigation-list a,
.basket-link {
  font: 500 16px/30px "Roboto", "Arial", sans-serif;
  color: #000000;
}

.site-navigation-list a:hover,
.basket-link:hover {
  color: #fb565a;
}

.site-navigation-list a:active,
.basket-link:active {
  color: #bababa;
}

.advantage-item {
  text-align: left;
}

.advantage-title h2{
  text-transform: uppercase;
  font: 700 24px/30px "Roboto", "Arial", sans-serif;
}

.advantage-text {
  font: 400 16px/24px "Roboto", "Arial", sans-serif;
  text-transform: none;
  color: #283136;
}

.aboutus {
  font: 500 45px/45px "Roboto", "Arial", sans-serif;
  text-transform: none;
}

.aboutus-text,
.development-item,
.accuracy-item {
  font-size: 400 16px/24px "Roboto", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
}

.accuracy,
.development {
  font: 700 16px/24px "Roboto", "Arial", sans-serif;
}

.accuracy-item b {
  font: 700 45px/10px "Roboto", "Arial", sans-serif;
}

.accuracy-item span {
  vertical-align: super;
  font: 700 30px/10px "Roboto", "Arial", sans-serif;
}

.partner-logo-link img {
  opacity: 0.2;
}

.partner-logo-link img:hover,
.partner-logo-link img:focus {
  opacity: 1;
}

.partner-logo-link img:active {
  opacity: 0.1;
}





header h1 {
  font: 500 55px/55px "Roboto", "Arial", sans-serif;
  text-transform: none;
}

/*Фильтр товаров */

.filter-options {
  border: none;
}

.filter-options h3 {
  font-size: 700 18px/30px "Roboto", "Arial", sans-serif;
}

.filter-option {
  font: 400 16px/20px "Roboto", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
}

.filter-input-radio,
.filter-input-checkbox {
  opacity: 0.4;
}

.filter-input-radio:hover,
.filter-input-checkbox:hover,
.filter-input-radio:focus,
.filter-input-checkbox:focus {
  opacity: 1;
}

.filter-input-radio:disabled,
.filter-input-checkbox:disabled {
  opacity: 0.1;
}

.filter-input-label:disabled {
  opacity: 0.3;
}




/*Карточки товаров */

.catalog-item {
  width: 360px;
  text-align: center;
}

.catalog-list li::before {
  content: "";
  width: 360px;
  height: 41px;
  background-color: #e9e9e9;
  border-radius: 10px 10px 0px 0px;
  vertical-align: top;
  position: absolute;
}

.catalog-list li::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  position: top;
  margin-left: 15px;
  margin-top: 13px;
  box-shadow:
   25px 0px 0px 0px #ffffff,
   50px 0px 0px 0px #ffffff;
}

.effects {
  position: absolute;
  margin-top: 353px;
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  text-transform: none;
  font: 400 16px/18px "Roboto", "Arial", sans-serif;
  color: #666666;
  display: none;
}

.item-title {
  font: 700 18px/30px "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item:hover .effects,
.catalog-item:focus .effects {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 5px 7px 4px #d9d9d9;
}


/* Пагинация*/

.pagination-item a,
.filter-button {
  color: #000000;
  background-color: #eeeeee;
  font: 500 16px/19px "Roboto", "Arial", sans-serif;
}
.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus,
.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active,
.filter-button:active {
  background-color: #d5d5d5;
  color: #bfbfbf;
  border-top: 2px solid #bfbfbf;
}


/* Футер*/

.main-footer {
  background: #ffffff url("../img/map.png") 100%/cover no-repeat;
}

.footer-contacts,
.phone-number-link {
  font: 400 16px/18px "Roboto", "Arial", sans-serif;
  text-transform: none;
  color: #283136;
}

.studio-name {
  font: 700 18px/30px "Roboto", "Arial", sans-serif;
  color: #000000;
}

.main-footer h3 {
  font: 700 36px/36px "Roboto", "Arial", sans-serif;
  text-transform: none;
}

.main-footer p {
  font: 400 16px/22px "Roboto", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
}

/*Модальное окно */

.modal {
  background-color: #ffffff;
  font: 700 16px/18px "Roboto", "Arial", sans-serif;
  text-transform: none;
}

.modal b {
  font: 500 45px/45px "Roboto", "Arial", sans-serif;
}

.wright-us-modal input,
.wright-us-modal textarea {
   font: 400 16px/18px "Roboto", "Arial", sans-serif;
   color: #444444;
   opacity: 0.5;
   border: 2px solid #b4b9bb;
 }

.wright-us-modal input:hover,
.wright-us-modal textarea:hover {
  opacity: 0.5;
}

.wright-us-modal input:focus,
.wright-us-modal textarea:focus {
  color: #505050;
  border: 2px solid #000000;
  opacity: 1;
}

.wright-us-modal input:invalid,
.wright-us-modal textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
  opacity: 1;
}

.modal-close {
  font-size: 0px;
  width: 25px;
  height: 25px;
  border: none;
  background: #ffffff url("../img/close-cross.png") center no-repeat;
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}
