html,
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font: 400 16px/24px "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Кнопки*/

.button {
  display: block;
  padding: 16px 0;
  text-align: center;
  font: 500 16px/18px "Roboto", "Arial", sans-serif;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button {
  width: 240px;
}

.button-order {
  width: 160px;
}

.button-post {
  width: 260px;
}

.button-wrightus {
  width: 220px;
}

.filter-button {
  width: 260px;
}

.button-item-price {
  width: 200px;
}

.advantage-item-apps .button-order {
  background-color: #00ca74;
}

.advantage-item-presentations .button-order {
  background-color: #efc849;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: #e06366;
  border-top: 3px solid #c13135;
}

.advantage-item-apps .button-order:hover {
  background-color: #00bc6c;
}

.advantage-item-apps .button-order:active {
  background-color: #00aa62;
  color: #4dc491;
  border-top: 3px solid #009958;
}

.advantage-item-presentations .button-order:hover {
  background-color: #eab534;
}

.advantage-item-presentations .button-order:active {
  background-color: #e5a722;
  color: #edc265;
  border-top: 3px solid #ce961f;
}


/*Заголовок*/


.main-header {
  background-color: #eeeeee;
}

.main-header-logo:hover img {
  opacity: 0.8;
}

.main-header-logo:active img {
  opacity: 0.3;
}

.site-navigation-list,
.basket-link,
.slider-list,
.advantages-list,
.accuracy-list,
.partner-logo-list,
.social-buttons,
.filter-options-list,
.catalog-list,
.pagination-list,
.development-list {
  list-style: none;
}

.main-navigation .current {
  border-bottom: 2px solid #fb565a;
}

.site-navigation-link,
.basket-link {
  font: 500 16px/30px "Roboto", "Arial", sans-serif;
  color: #000000;
}

.site-navigation-link:hover,
.basket-link:hover {
  color: #fb565a;
}

.site-navigation-link:active,
.basket-link:active {
  color: #bababa;
}

/*Слайдер*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
  position: relative;
  background-color: #eeeeee;

}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  padding: 71px 0 85px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font: 500 55px/55px "Roboto", "Arial", sans-serif;
  text-transform: none;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
  text-transform: none;
  color: #283136;
  font: 400 16px/24px "Roboto", "Arial", sans-serif;
}








.advantage-item {
  text-align: left;
}

.advantage-title h2 {
  text-transform: uppercase;
  font: 700 24px/30px "Roboto", "Arial", sans-serif;
}

.advantage-text {
  font: 400 16px/24px "Roboto", "Arial", sans-serif;
  text-transform: none;
  color: #283136;
  margin-bottom: 32px;
}

.aboutus {
  font: 500 45px/45px "Roboto", "Arial", sans-serif;
  text-transform: none;
}

.aboutus-text,
.development-item,
.accuracy-item {
  font-size: 400 16px/24px "Roboto", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
}

.accuracy,
.development {
  font: 700 16px/24px "Roboto", "Arial", sans-serif;
}

.accuracy {
  text-align: center;
}

.accuracy-item b {
  font: 700 45px/10px "Roboto", "Arial", sans-serif;
  color: #000000;
}

.accuracy-item span {
  vertical-align: super;
  font: 700 30px/10px "Roboto", "Arial", sans-serif;
  color: #000000;
}

.partner-logo-link img {
  opacity: 0.2;
}

.partner-logo-link img:hover,
.partner-logo-link img: {
  opacity: 1;
}

.partner-logo-link img:active {
  opacity: 0.1;
}





.main-title {
  font: 500 55px/55px "Roboto", "Arial", sans-serif;
  text-transform: none;
}

/*Фильтр товаров */

.filter-options {
  border: none;
}

.filter-options-title {
  font: 700 18px/30px "Roboto", "Arial", sans-serif;
}

.filter-option {
  font: 400 16px/20px "Roboto", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
}

.filter-input-radio,
.filter-input-checkbox {
  opacity: 0.4;
}

.filter-input-radio:hover,
.filter-input-checkbox:hover {
  opacity: 1;
}

.filter-input-radio:disabled,
.filter-input-checkbox:disabled {
  opacity: 0.1;
}

.filter-input-label:disabled {
  opacity: 0.3;
}




/*Карточки товаров */

.catalog-item {
  width: 360px;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}

.catalog-list li::before {
  position: absolute;
  z-index: 1;
  top: -40px;
  content: "";
  width: 360px;
  height: 41px;
  background-color: #e9e9e9;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
}

/*
.catalog-list li::before {
  position: absolute;
  z-index: 2;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  position: top;
  margin-left: 15px;
  margin-top: 13px;
  box-shadow:
   25px 0px 0px 0px #ffffff,
   50px 0px 0px 0px #ffffff;
}

*/

.effects {
  position: absolute;
  margin-top: 353px;
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  text-transform: none;
  font: 400 16px/18px "Roboto", "Arial", sans-serif;
  color: #666666;
  display: none;
}

.item-title {
  font: 700 18px/30px "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item:hover .effects {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0px 5px 7px 4px #d9d9d9;
}


/* Пагинация*/
.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex: wrap;
  width: 445px;
  justify-content: space-between;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 14px 18px;
}

.pagination-item a,
.filter-button {
  color: #000000;
  background-color: #eeeeee;
  font: 500 16px/19px "Roboto", "Arial", sans-serif;
  border-radius: 3px;
}

.pagination-item a {
  border: 3px solid #eeeeee;
}
.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #eeeeee;
}

.pagination-item:last-child a {
  padding: 14px 75px;
}

.pagination-item a:hover,
.filter-button:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active,
.filter-button:active {
  background-color: #d5d5d5;
  color: #bfbfbf;
  border-top: 2px solid #bfbfbf;
}


/* Футер*/

.footer-map {
  position: relative;
  width: 100%;
  background-position: center;
  background: #ffffff url("../img/map.png") no-repeat;
  padding: 55px 0;
  margin-bottom: 30px;
  background-size: cover;
}

.footer-contacts {
  width: 319px;
  padding: 60px 0 50px 50px;
  margin-left: 140px;
}


.footer-contacts,
.phone-number-link {
  background-color: #ffffff;
  font: 400 16px/18px "Roboto", "Arial", sans-serif;
  text-transform: none;
  color: #283136;
}

.studio-name {
  font: 700 18px/30px "Roboto", "Arial", sans-serif;
  color: #000000;
}

.main-footer h3 {
  font: 700 36px/36px "Roboto", "Arial", sans-serif;
  text-transform: none;
}

.main-footer p {
  font: 400 16px/22px "Roboto", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
}

/*Модальное окно */

.modal {
  background-color: #ffffff;
  font: 700 16px/18px "Roboto", "Arial", sans-serif;
  text-transform: none;
  display: none;
}

.modal b {
  font: 500 45px/45px "Roboto", "Arial", sans-serif;
}

.wright-us-modal input,
.wright-us-modal textarea {
   font: 400 16px/18px "Roboto", "Arial", sans-serif;
   color: #444444;
   opacity: 0.5;
   border: 2px solid #b4b9bb;
 }

.wright-us-modal input:hover,
.wright-us-modal textarea:hover {
  opacity: 0.5;
}

.wright-us-modal input:focus,
.wright-us-modal textarea:focus {
  color: #505050;
  border: 2px solid #000000;
  opacity: 1;
}

.wright-us-modal input:invalid,
.wright-us-modal textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
  opacity: 1;
}

.modal-close {
  font-size: 0px;
  width: 25px;
  height: 25px;
  border: none;
  background: #ffffff url("../img/close-cross.png") center no-repeat;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}


/*Сетка*/

.main-header {
 margin-bottom: 80px;
}

.main-navigation {
  display: flex;
  width: 1180px;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-top: 45px;
}

.navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 820px;
  margin-left: auto;
}



.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 77px;
  margin-bottom: 10px;
  padding: 0;
  justify-content: flex-start;
}


.site-navigation-link {
  display: block;
  vertical-align: middle;
  padding: 3px 0;
  margin: 0 23px;
}


.basket-link {
  display: block;
  vertical-align: middle;
  position: relative;
  margin-top: 77px;
  margin-left: auto;
  padding-top: 4px;
  padding-left: 67px;
}

.basket-link::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 11px;
  left: 27px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.advantages {
  padding: 0 0 80px;
  border-bottom: 2px solid #eeeeee;
}

.advantages-list {
  width: 1100px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;

}

.advantage-item {
  width: 300px;
}



.studio {
  width: 1160px;
  min-height: 527px;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  padding-bottom: 80px;
}

.studio-info {
  width: 660px;
  padding-top: 75px;
}

.aboutus {
padding-bottom: 10px;
}

.studio-visual {
  width: 360px;
}

.studio-visual img {
  padding-top: 40px;
  padding-bottom: 9px;
}

.accuracy-list {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}


.partners {
  width: 1160px;
  border-bottom: 2px solid #eeeeee;
  padding: 0 40px;
  margin-bottom: 80px;
}


.partner-logo-list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  min-height: 180px;

}

.partner-logo-item {
  background-image: url("../img/line.png"),
  background-position: right;
  background-repeat: no-repeat;
}

.footer-social {
  display: flex;
  padding: 0;
  margin: 0 auto;
}

.inscription {
  margin-left: 140px;
}

.social-buttons {
  font-size: 0;
  display: flex;
  width: 260px;
  justify-content: space-between;
  align-items: center;
}

.social-button-link {
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.social-button-link:hover,
.social-button-link:active {
  background-color: #e74246;
}

.social-button-link-vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-link-fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-link-insta {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*Сетка каталога*/

.inner-page .main-header {
  margin: 0;
  padding: 0;
  margin-bottom: 115px;
}

.inner-page .main-navigation {
  margin-bottom: 65px;
}

.main-title {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  padding-top: 6px;

}

.catalog-wrapper {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.aside-column {
  margin: 0;
  padding: 0;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-column {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 760px;
  margin-bottom: 60px;
}

.catalog-item {
  width: 360px;
  margin-bottom: 35px;
  margin-right: 35px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}





/*Сортировка*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}


.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 60px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
